{% extends 'base.html' %}

{% block title %}
Подтверждение удаления
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h3>Подтверждение удаления</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Вы действительно хотите удалить "{{ object }}" ?
                        </p>
                    </div>
                    <div class="card-footer">
                        <p>
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                            <a href="/" class="btn btn-outline-warning">Отмена</a>
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock content %}