{% extends 'base.html' %}

{% block title %} Все студенты {% endblock title %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for student in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    {% if student.avatar %}
                    <img src="media/{{ student.avatar }}" alt="фото">
                    {% else %}
                    <svg width="100%" height="100%" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                         preserveAspectRatio="xMidYMid meet">
                        <rect width="100%" height="100%" fill="#e0e0e0"/>
                        <text x="50%" y="50%" font-family="Arial, sans-serif" font-size="80" fill="#999"
                              text-anchor="middle" dy="0.35em">?
                        </text>
                    </svg>
                    {% endif %}

                    <div class="card-body">
                        <p class="card-text">
                            {{ student.first_name }} {{ student.last_name }}


                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <p>
                                    <a href="{% url 'main:detail_student'  student.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                                    <a href="{% url 'main:update_student' student.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                    {% if perms.main.delete_student %}
                                    <a href="{% url 'main:student_delete' student.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Удалить</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock content %}